<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Rose is a special effects makeup artist. Her favourite colour is red and she loves to watch horror movies.</p>
  </body>
</html>
