<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/javier">Javier</a></li>
    <li><a href="/lidia">Lidia</a></li>
    <li><a href="/cindy">Cindy</a></li>
    <li><a href="/rose">Rose</a></li>
    <li><a href="/magaly">Magaly</a></li>
  </ul>
</nav>
